Repository henriq4/yt-aws-saver: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --cache, pnpm prettier --write

.lintstagedrc:

{
  "*.{ts, js}": [
    "eslint --fix --cache",
  ],
  "*.{json, yml, yaml}": [
    "pnpm prettier --write"
  ]
}

refactor: add aws-sdk/lib-storage to deal with writeble streams in s3 buckets
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

refactor: chande index to run with aws upload from lib-storage and pass through from nodejs native streams
  src/index.js
Due: none

chore: add concurrency configuration to writible uploads in lib-storage
  src/index.js
Due: none

fix: remove unuselles dependencies
  package.json
  pnpm-lock.yaml
Due: pnpm prettier --write

chore: start configuring typescript
  .gitignore
  nodemon.json
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: pnpm prettier --write

chore: changing .env to file to deal with aws credentials
  src/config/aws/index.ts
Due: eslint --fix --cache

chore: separating main app
  src/app.ts
  src/index.ts
Due: eslint --fix --cache

chore: adding redis to env variables
  .env.example
  src/config/redis/index.js
  src/config/redis/index.ts
Due: eslint --fix --cache

chore: adding path.resolve to directories
  src/utils/dir/index.ts
Due: eslint --fix --cache

fix: change trim space to example text in aws credentials
  src/config/aws/index.ts
Due: eslint --fix --cache

chore: add aws credentials type
  src/types/aws/index.ts
Due: eslint --fix --cache

chore: create mock for aws config file
  src/services/configureAwsCredentials/awsCredentialsMock.ts
Due: eslint --fix --cache

feat: if aws config file was not initializated, then configure aws credentials will receive and configure
  src/services/configureAwsCredentials/getAwsCredentials.ts
  src/services/configureAwsCredentials/index.ts
Due: eslint --fix --cache

fix: change function to return a promise
  src/services/configureAwsCredentials/index.ts
Due: eslint --fix --cache

chore: create aws provider for s3 client
  src/providers/awsS3/index.ts
Due: eslint --fix --cache

chore: create a upload service to deal with the download and upload
  src/services/upload/index.ts
Due: eslint --fix --cache

chore: show logs for user
  src/services/configureAwsCredentials/getAwsCredentials.ts
Due: eslint --fix --cache

fix: if is not example text, log to user and resolve the promise
  src/services/configureAwsCredentials/index.ts
Due: eslint --fix --cache

chore: create main app to administrate the services
  src/app.ts
Due: eslint --fix --cache

fix: donwload ytdl video from video infos
  src/services/upload/index.ts
Due: eslint --fix --cache

fix: remove tmp folder, send directly to aws s3 provider
  tmp/.gitkeep
Due: none

fix: remove aws from env variables
  .env.example
Due: none

feat: using node argvs to cat the url
  src/app.ts
  src/services/upload/index.ts
Due: eslint --fix --cache

chore: move node logs to english language
  src/app.ts
  src/services/configureAwsCredentials/getAwsCredentials.ts
  src/services/configureAwsCredentials/index.ts
  src/services/upload/index.ts
Due: eslint --fix --cache

test
  README.md
Due: none

docs: remove technologies topic
  README.md
Due: none

docs: testing if markdown instead html tags
  README.md
Due: none

docs: update damo video in readme
  README.md
Due: none
